<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="loan.easyLoan.mapper.BorrowerAccountMapper">
  <resultMap id="BaseResultMap" type="loan.easyLoan.entity.BorrowerAccount">
    <id column="funds_account" jdbcType="VARCHAR" property="fundsAccount" />
    <result column="id_card" jdbcType="CHAR" property="idCard" />
    <result column="account_balance" jdbcType="DOUBLE" property="accountBalance" />
    <result column="borrowed_money" jdbcType="DOUBLE" property="borrowedMoney" />
    <result column="credit_score" jdbcType="INTEGER" property="creditScore" />
    <result column="total_limit" jdbcType="DOUBLE" property="totalLimit" />
    <result column="available_limit" jdbcType="DOUBLE" property="availableLimit" />
    <!--<association property="finishRaisingTemp" javaType="FinishRaisingTemp" resultMap="finishRaisingTempMap"></association>-->
  </resultMap>
  
  <!--<resultMap id="finishRaisingTempMap" type="FinishRaisingTemp">
    <id column="lender_id" jdbcType="VARCHAR" property="fundsAccount" />
    <result column="bill_id" jdbcType="INTEGER" property="billId" />
    <result column="borrower_id" jdbcType="VARCHAR" property="borrowerId" />
    <result column="lend_money" jdbcType="DOUBLE" property="lendMoney" />
    <result column="intend_money" jdbcType="DOUBLE" property="intendMoney" />
    <result column="pay_rate" jdbcType="FLOAT" property="payRate" />
    <result column="pay_type" jdbcType="INTEGER" property="payType" />
    <result column="limit_months" jdbcType="INTEGER" property="limitMonths" />
    <result column="in_bound_account" jdbcType="VARCHAR" property="inBoundAccount" />
    <result column="out_bound_account" jdbcType="VARCHAR" property="outBoundAccount" />
  </resultMap>-->


  <!--根据资金账户找到帐户余额-->
  <select id="getMoney" parameterType="String" resultType="double">
  select account_balance
  from borrower_account
  where funds_account=#{fundsAccount,jdbcType=VARCHAR}
  </select>


  <!--更新借入方额度-->
  <update id="updateAvailableLimit">
    update borrower_account
    set available_limit=available_limit-#{intendMoney,jdbcType=DOUBLE}
    where id_card=#{idCard,jdbcType=CHAR}
  </update>


  <!-- 新用户注册后分配资金账号 -->
  <insert id="addNewBorrower">
        insert into borrower_account
        values (#{fundsAccount,jdbcType=VARCHAR},#{idCard,jdbcType=CHAR},0.00,0.00,#{creditScore,jdbcType=INTEGER},#{totalLimit,jdbcType=DOUBLE},#{availableLimit,jdbcType=DOUBLE})
  </insert>

  <!-- 由身份证号找到该用户的资金账号 -->
  <select id="findFundsAccount"  resultType="String">
  select funds_account
  from borrower_account
  where id_card=#{idCard,jdbcType=CHAR}
  </select>

  <!-- 提现后修改用户资金账户余额 -->
  <update  id="updateWithdrawAccount">
        update borrower_account
        set  account_balance=account_balance-#{withdrawMoney}
        where  funds_account=#{fundsAccount,jdbcType=VARCHAR}
    </update>

  <!-- 充值后修改用户资金账户余额 -->
  <update  id="updateRechargeAccount">
        update borrower_account
        set  account_balance=account_balance+#{rechargeMoney}
        where  funds_account=#{fundsAccount,jdbcType=VARCHAR}
    </update>

  <!-- 借入方查看个人账户 -->
  <select id="viewBorrowerAccount" parameterType="String" resultType="BorrowerAccount">
  /*select account_balance,credit_score,total_limit,available_limit*/
  select *
  from borrower_account
  where id_card=#{idCard,jdbcType=CHAR}
  </select>

  <!-- 借入方查看个人账户 -->
  <select id="decreaseCreditScore" parameterType="String" resultType="BorrowerAccount">
  /*select account_balance,credit_score,total_limit,available_limit*/
  select *
  from borrower_account
  where funds_account=#{fundsAccount,jdbcType=CHAR}
  </select>

  <!-- 查看借入方的额度 -->
  <select id="selectAvailableLimit" parameterType="String" resultType="double">
  select available_limit
  from borrower_account
  where id_card=#{idCard,jdbcType=CHAR}
  </select>

  <!-- 债权关系确立 -->
  <select id="findBorrowerFundsAccount" resultType="String">
  select in_bound_account
  from ${finish_raising_temp} inner join borrower_account
  on ${finish_raising_temp}.borrower_id=borrower_account.id_card
  </select>

  <!--更新借入方资金账户-->
  <update id="updateBorrowerAccount">
        update borrower_account
        set account_balance=account_balance+#{intendMoney},borrowed_money=borrowed_money+#{intendMoney}
        where funds_account=#{fundsAccount,jdbcType=VARCHAR}
    </update>



  <sql id="Base_Column_List">
    funds_account, id_card, account_balance, borrowed_money, credit_score, total_limit, 
    available_limit
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from borrower_account
    where funds_account = #{fundsAccount,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from borrower_account
    where funds_account = #{fundsAccount,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="loan.easyLoan.entity.BorrowerAccount">
    insert into borrower_account (funds_account, id_card, account_balance, 
      borrowed_money, credit_score, total_limit, 
      available_limit)
    values (#{fundsAccount,jdbcType=VARCHAR}, #{idCard,jdbcType=CHAR}, #{accountBalance,jdbcType=DOUBLE}, 
      #{borrowedMoney,jdbcType=DOUBLE}, #{creditScore,jdbcType=INTEGER}, #{totalLimit,jdbcType=DOUBLE}, 
      #{availableLimit,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="loan.easyLoan.entity.BorrowerAccount">
    insert into borrower_account
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fundsAccount != null">
        funds_account,
      </if>
      <if test="idCard != null">
        id_card,
      </if>
      <if test="accountBalance != null">
        account_balance,
      </if>
      <if test="borrowedMoney != null">
        borrowed_money,
      </if>
      <if test="creditScore != null">
        credit_score,
      </if>
      <if test="totalLimit != null">
        total_limit,
      </if>
      <if test="availableLimit != null">
        available_limit,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fundsAccount != null">
        #{fundsAccount,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null">
        #{idCard,jdbcType=CHAR},
      </if>
      <if test="accountBalance != null">
        #{accountBalance,jdbcType=DOUBLE},
      </if>
      <if test="borrowedMoney != null">
        #{borrowedMoney,jdbcType=DOUBLE},
      </if>
      <if test="creditScore != null">
        #{creditScore,jdbcType=INTEGER},
      </if>
      <if test="totalLimit != null">
        #{totalLimit,jdbcType=DOUBLE},
      </if>
      <if test="availableLimit != null">
        #{availableLimit,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="loan.easyLoan.entity.BorrowerAccount">
    update borrower_account
    <set>
      <if test="idCard != null">
        id_card = #{idCard,jdbcType=CHAR},
      </if>
      <if test="accountBalance != null">
        account_balance = #{accountBalance,jdbcType=DOUBLE},
      </if>
      <if test="borrowedMoney != null">
        borrowed_money = #{borrowedMoney,jdbcType=DOUBLE},
      </if>
      <if test="creditScore != null">
        credit_score = #{creditScore,jdbcType=INTEGER},
      </if>
      <if test="totalLimit != null">
        total_limit = #{totalLimit,jdbcType=DOUBLE},
      </if>
      <if test="availableLimit != null">
        available_limit = #{availableLimit,jdbcType=DOUBLE},
      </if>
    </set>
    where funds_account = #{fundsAccount,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="loan.easyLoan.entity.BorrowerAccount">
    update borrower_account
    set id_card = #{idCard,jdbcType=CHAR},
      account_balance = #{accountBalance,jdbcType=DOUBLE},
      borrowed_money = #{borrowedMoney,jdbcType=DOUBLE},
      credit_score = #{creditScore,jdbcType=INTEGER},
      total_limit = #{totalLimit,jdbcType=DOUBLE},
      available_limit = #{availableLimit,jdbcType=DOUBLE}
    where funds_account = #{fundsAccount,jdbcType=VARCHAR}
  </update>
</mapper>