<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="loan.easyLoan.mapper.LenderAccountMapper">
  <resultMap id="BaseResultMap" type="loan.easyLoan.entity.LenderAccount">
    <id column="funds_account" jdbcType="VARCHAR" property="fundsAccount" />
    <result column="id_card" jdbcType="CHAR" property="idCard" />
    <result column="account_balance" jdbcType="DOUBLE" property="accountBalance" />
    <result column="lent_money" jdbcType="DOUBLE" property="lentMoney" />
    <result column="current_income" jdbcType="DOUBLE" property="currentIncome" />
    <result column="expected_income" jdbcType="DOUBLE" property="expectedIncome" />
  </resultMap>
  <sql id="Base_Column_List">
    funds_account, id_card, account_balance, lent_money, current_income, expected_income
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from lender_account
    where funds_account = #{fundsAccount,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from lender_account
    where funds_account = #{fundsAccount,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="loan.easyLoan.entity.LenderAccount">
    insert into lender_account (funds_account, id_card, account_balance, 
      lent_money, current_income, expected_income
      )
    values (#{fundsAccount,jdbcType=VARCHAR}, #{idCard,jdbcType=CHAR}, #{accountBalance,jdbcType=DOUBLE}, 
      #{lentMoney,jdbcType=DOUBLE}, #{currentIncome,jdbcType=DOUBLE}, #{expectedIncome,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="loan.easyLoan.entity.LenderAccount">
    insert into lender_account
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fundsAccount != null">
        funds_account,
      </if>
      <if test="idCard != null">
        id_card,
      </if>
      <if test="accountBalance != null">
        account_balance,
      </if>
      <if test="lentMoney != null">
        lent_money,
      </if>
      <if test="currentIncome != null">
        current_income,
      </if>
      <if test="expectedIncome != null">
        expected_income,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fundsAccount != null">
        #{fundsAccount,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null">
        #{idCard,jdbcType=CHAR},
      </if>
      <if test="accountBalance != null">
        #{accountBalance,jdbcType=DOUBLE},
      </if>
      <if test="lentMoney != null">
        #{lentMoney,jdbcType=DOUBLE},
      </if>
      <if test="currentIncome != null">
        #{currentIncome,jdbcType=DOUBLE},
      </if>
      <if test="expectedIncome != null">
        #{expectedIncome,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="loan.easyLoan.entity.LenderAccount">
    update lender_account
    <set>
      <if test="idCard != null">
        id_card = #{idCard,jdbcType=CHAR},
      </if>
      <if test="accountBalance != null">
        account_balance = #{accountBalance,jdbcType=DOUBLE},
      </if>
      <if test="lentMoney != null">
        lent_money = #{lentMoney,jdbcType=DOUBLE},
      </if>
      <if test="currentIncome != null">
        current_income = #{currentIncome,jdbcType=DOUBLE},
      </if>
      <if test="expectedIncome != null">
        expected_income = #{expectedIncome,jdbcType=DOUBLE},
      </if>
    </set>
    where funds_account = #{fundsAccount,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="loan.easyLoan.entity.LenderAccount">
    update lender_account
    set id_card = #{idCard,jdbcType=CHAR},
      account_balance = #{accountBalance,jdbcType=DOUBLE},
      lent_money = #{lentMoney,jdbcType=DOUBLE},
      current_income = #{currentIncome,jdbcType=DOUBLE},
      expected_income = #{expectedIncome,jdbcType=DOUBLE}
    where funds_account = #{fundsAccount,jdbcType=VARCHAR}
  </update>
</mapper>