<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="loan.easyLoan.mapper.RechargeRecordMapper">
  <resultMap id="BaseResultMap" type="loan.easyLoan.entity.RechargeRecord">
    <id column="serial_number" jdbcType="INTEGER" property="serialNumber" />
    <result column="recharge_date" jdbcType="TIMESTAMP" property="rechargeDate" />
    <result column="recharge_money" jdbcType="DOUBLE" property="rechargeMoney" />
    <result column="bank_account" jdbcType="VARCHAR" property="bankAccount" />
  </resultMap>
  <sql id="Base_Column_List">
    serial_number, recharge_date, recharge_money, bank_account
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from recharge_record
    where serial_number = #{serialNumber,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from recharge_record
    where serial_number = #{serialNumber,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="loan.easyLoan.entity.RechargeRecord">
    insert into recharge_record (serial_number, recharge_date, recharge_money, 
      bank_account)
    values (#{serialNumber,jdbcType=INTEGER}, #{rechargeDate,jdbcType=TIMESTAMP}, #{rechargeMoney,jdbcType=DOUBLE}, 
      #{bankAccount,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="loan.easyLoan.entity.RechargeRecord">
    insert into recharge_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="serialNumber != null">
        serial_number,
      </if>
      <if test="rechargeDate != null">
        recharge_date,
      </if>
      <if test="rechargeMoney != null">
        recharge_money,
      </if>
      <if test="bankAccount != null">
        bank_account,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="serialNumber != null">
        #{serialNumber,jdbcType=INTEGER},
      </if>
      <if test="rechargeDate != null">
        #{rechargeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="rechargeMoney != null">
        #{rechargeMoney,jdbcType=DOUBLE},
      </if>
      <if test="bankAccount != null">
        #{bankAccount,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="loan.easyLoan.entity.RechargeRecord">
    update recharge_record
    <set>
      <if test="rechargeDate != null">
        recharge_date = #{rechargeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="rechargeMoney != null">
        recharge_money = #{rechargeMoney,jdbcType=DOUBLE},
      </if>
      <if test="bankAccount != null">
        bank_account = #{bankAccount,jdbcType=VARCHAR},
      </if>
    </set>
    where serial_number = #{serialNumber,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="loan.easyLoan.entity.RechargeRecord">
    update recharge_record
    set recharge_date = #{rechargeDate,jdbcType=TIMESTAMP},
      recharge_money = #{rechargeMoney,jdbcType=DOUBLE},
      bank_account = #{bankAccount,jdbcType=VARCHAR}
    where serial_number = #{serialNumber,jdbcType=INTEGER}
  </update>
</mapper>